*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #001f24;
    min-height: 100vh;

}
label
{
    position: relative;
    margin: 12px;
    width: 200px;
    height: 70px;
    cursor: pointer;
}
label  input{
  appearance: none;
}
label span{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    display: block;
    border-radius: 10px;
}
label span::before{
    content:' Inective ' ;
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: linear-gradient(to bottom, #081d22, #073130);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5),
   inset 2px 2px 2px rgba(255,255,255,0.3) ;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.4rem;
   font-weight: 500;
   color: #030f11;
}
label input:checked ~ span::before{
 content:'Active';
 color: #fff;
 text-shadow: 0 0 20px #0f0;
 background: linear-gradient(to top, #081d22, #073130);
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5),
 inset 1px 1px 1px rgba(0, 0, 0, 0.4) ,
 inset -1px -1px -4px rgba(255,255,255,0.2) ;

}
label span::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f00;
    box-shadow: 0 0 2px #f00,
                0 0 5px #f00,
                0 0 10px #f00,
                0 0 15px #f00,
                0 0 25px #f00,
                0 0 35px #f00,
                0 0 40px #f00;
}
label input:checked ~ span::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #0f0;
    box-shadow: 0 0 2px #0f0,
                0 0 5px #0f0,
                0 0 10px #0f0,
                0 0 15px #0f0,
                0 0 25px #0f0,
                0 0 35px #0f0,
                0 0 40px #0f0,
}